/* Import Muli font. */
@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,700,700i');

$bg-col:#444444;

html,body {
    margin: 0;
    padding: 0;
    background: $bg-col;
    font-size: 13px;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0px 5px 20px #222;
    li {
        padding: 10px 20px; 
        border: 1px #ccc solid;
        border-top: none;
        background: #fff;
        h2 {
            margin: 0;
            padding: 0;
            margin-bottom: 5px;
            font-size: 13px;
            font-weight: 700;
            color: #aaa;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        p {
            font-size: 20px;
        }
        input[type=range] {
            width: 100%;
        }
    }
    li:first-child {
        border-top: 1px #ccc solid;
        border-radius: 5px 5px 0px 0px;
    }
    li:last-child {
        border-radius: 0px 0px 5px 5px;
    }
}
h1 {
    padding: 5px 15px;
}